<!--
    <div class="container" id="contact">
  <div class="row">
    <h2 class="subtitulo">Contacto</h2>

    <footer
      class="w-100 d-flex align-items-center justify-content-center flex-wrap"
      id="contacto"
    >
      <p class="fs-5 px-3 pt-3">
        {{persona.nombre}} {{persona.apellido}} | Portfolio para Argentina Programa 2022 <br />
        cel: {{ persona.telefono }}  | email: {{ persona.correo }}
      </p>

      <div>
        <a href="{{ persona.linkedin }}"
          ><img src="../../../assets/linkedin.png" alt="" id="linkedin"
        /></a>
        <a href="{{ persona.github }}"
          ><img src="../../../assets/github1.png" alt="" id="github"
        /></a>
        <a href="{{ persona.instagram }}"
          ><img src="../../../assets/instagram.png" alt="" id="instagram"
        /></a>
      </div>
    </footer>
  </div>
</div>

-->

<div class="container" id="contact">
    <div class="row">
      <h2 class="subtitulo">Contacto</h2>
  
      <footer
        class="w-100 d-flex align-items-center justify-content-center flex-wrap"
        id="contacto"
      >
        <p class="fs-5 px-3 pt-3">
           | Portfolio para Argentina Programa 2022 <br />
          cel:  | email:
        </p>
  
        <div>
          <a href=""
            ><img src="../../../assets/linkedin.png" alt="" id="linkedin"
          /></a>
          <a href=""
            ><img src="../../../assets/github1.png" alt="" id="github"
          /></a>
          <a href=""
            ><img src="../../../assets/instagram.png" alt="" id="instagram"
          /></a>
        </div>
      </footer>
    </div>
  </div>
  
