<div class="container" id="acercade">
    <h2 class="subtitulo">Acerca de mi</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img src="" alt="" class="img-fluid" />
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="descripcion">
       
      <span>
        <p></p>
      </span>
    </div>
  </div>
</div>

<!--
    <div class="container" id="acercade">
    <h2 class="subtitulo">Acerca de mi</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img src="../../../assets/{{persona.img}}.png" alt="" class="img-fluid" />
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="descripcion">
       
      <span>
        <p>{{persona.descripcion}}</p>
      </span>
    </div>
  </div>
</div>
-->
